* {
  padding: 0px;
  margin: 0px;
  border: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
a,
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
aside,
nav,
footer,
header,
section,
main {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 14px;
}
ul,
ul li {
  list-style: none;
}
header {
  width: 100%;
}
header .container {
  background-color: #04223a;
  height: 30px;
}
header .container .wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
header .container .wrapper .contact-link {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
header .container .wrapper .contact-link .adress-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container .wrapper .contact-link .adress-link .adress {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container .wrapper .contact-link .adress-link .adress .icon {
  width: 13px;
  height: 13px;
  margin-right: 5px;
}
header .container .wrapper .contact-link .adress-link .adress .title-adress {
  color: #cccccc;
  margin-right: 15px;
  font-size: 12px;
}
header .container .wrapper .contact-link .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container .wrapper .contact-link .social-link .icon-social {
  width: 15px;
  height: 15px;
  margin-right: 7px;
}
header .main_section {
  width: 100%;
}
header .main_section .wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .main_section .wrapper .logo {
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .main_section .wrapper .logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}
header .main_section .wrapper .logo .logo_title {
  font-size: 32px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #585858;
}
header .main_section .wrapper .menu_item {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .main_section .wrapper .menu_item li {
  margin-right: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #585858;
  cursor: pointer;
}
header .main_section .wrapper .menu-minimal {
  height: 50px;
  width: 50px;
  margin-right: 50px;
  background-position: center;
  background-size: cover;
  visibility: hidden;
  display: none ;
}
header .main_section .wrapper .menu-minimal:hover {
  background-color: #10967b;
  border-radius: 0px 15px ;
}
header .main_section .wrapper .menu-minimal.active_btn {
  background-color: #11a285;
  border-radius: 0px 15px ;
}
header .main_section .wrapper .menu_item_mini {
  position: absolute;
  top: 80px;
  right: 30px;
  display: none;
  width: auto;
  margin-right: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #585858;
  cursor: pointer;
  background-color: #11a285;
  border-radius: 15px 0px 15px 15px;
  padding: 15px;
  z-index: 3;
  visibility: hidden;
}
header .main_section .wrapper .menu_item_mini li {
  color: #04223a;
}
header .main_section .wrapper .menu_item_mini li:hover {
  color: #000000;
  text-decoration: underline;
}
header .main_section .wrapper .active {
  visibility: visible;
  display: block ;
}
main .title .container {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #304d64;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .title .container .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.6;
}
main .title .container .content {
  position: relative;
  z-index: 2;
}
main .title .container .content .front_title {
  text-transform: uppercase;
  color: #fff;
  line-height: 1.7;
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
main .title .container .content p {
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}
main .title .container .content .butn {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .title .container .content .butn .btn {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-top: 30px;
}
main .title .container .content .butn .left {
  background-color: #11a285;
  margin-right: 10px;
  color: #fff;
}
main .title .container .content .butn .right {
  background-color: #fffef9;
  margin-left: 10px;
}
main .card_mein {
  max-width: 1200px;
  margin: 0 auto;
}
main .card_mein .title_section_card {
  font-size: 48px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}
main .card_mein .title_section_card h3 {
  font-size: 42px;
  color: #585858;
}
main .card_mein .title_section_card .line {
  height: 5px;
  background-color: #585858;
  width: 80px;
  margin: 0 auto;
}
main .card_mein .card_container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main .card_mein .card_container .card {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
main .card_mein .card_container .card .card_image {
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .card_mein .card_container .card .card_content {
  color: #d6d6d6;
  background-color: #04223a;
  padding: 20px;
}
main .card_mein .card_container .card .card_content .card_title {
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 24px;
}
main .card_mein .card_container .card .card_content .card_text {
  font-size: 14px;
}
/* md */
@media (max-width: 1200px) {
  header .main_section .wrapper .menu-minimal {
    visibility: hidden;
    display: none ;
  }
  .menu_item {
    visibility: visible;
    display: block ;
  }
  main .card_mein .card_container .card {
    width: 40%;
  }
}
/* sm */
@media (max-width: 900px) {
  header .main_section .wrapper .menu-minimal {
    visibility: visible;
    display: block ;
  }
  header .main_section .wrapper .menu_item {
    visibility: hidden;
    display: none ;
    width: 0px;
  }
  main .card_mein .card_container .card {
    width: 50%;
  }
}
/* xs */
@media (max-width: 600px) {
  main .card_mein .card_container .card {
    width: 80%;
    margin-bottom: 20px;
  }
  main .title .container .content .front_title {
    font-size: 36px;
  }
}
